$font-family: "Open Sans", sans-serif;
$primary-color: #ee4d2d;
$primary-color-dark: #b30d00;
$primary-color-light: #ff8059;

$text-secondary-color: #7b7878;
$border-color: #c4c4c4;
$btn-cancel-hover-color: gainsboro;
$optional-color: #fff;

$form-border-radius: 10px;

// Positioning, Display & Box model, Color, Text và Other (animation, cursor,…).

.ContentAdmin {
  font-family: $font-family;
}
.content {
  &__form,
  &__form2 {
    margin: 10px;

    background: $optional-color;

    border-radius: $form-border-radius;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  }
  &__form {
    // This only for Customer
    // width: 100%;
    padding: 30px;

    &--text {
      font-size: 20px;
      font-weight: 550;
    }
    // This only for Customer
    &--components {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
// This only for Input Product
    &--two-components {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &--component {
      &---input {
        margin-top: 10px;
        &:focus {
          border-color: $primary-color;

          box-shadow: $primary-color;
          box-shadow: none;
          -webkit-box-shadow: none;
          -webkit-box-shadow: $primary-color;
        }
      }
    }
    &--table {
      line-height: 20px;
    }

    &--btn {
      background: $primary-color-light;

      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    }

    &-search {
      &--container {
        display: grid;
        grid-template-columns: 2fr 3fr;
      }
      &--input {
        &:focus {
          border-color: $primary-color;
          box-shadow: $primary-color;
          box-shadow: none;
          -webkit-box-shadow: $primary-color;
          -webkit-box-shadow: none;
        }
      }
      &--icon-container {
        // position: absolute;
        // top: 17px;
        // right: 20px;

        width: 30px;
        height: 30px;
        border: none;
        border-radius: 5px;
        outline: none;

        color: $optional-color;
        background: $primary-color;
      }
    }
  }
  &__table--icon {
    transition: 0.2s;
  }
  &__menubar {
    &--icon {
      width: 25px;
      height: 25px;

      transition: 0.2s;
    }
    &--page {
      width: 30px;
      height: 30px;

      border-radius: 5px;

      color: $optional-color;
      background: $primary-color;
    }
  }
}

@media screen and (min-width: 1024px) {
  .content {
    &__form--btn {
      &:hover {
        color: $optional-color;
        background: $primary-color;

        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
      }
    }
    
    &__form-search--icon-container{
      &:hover {
        
        // background: $primary-color-dark;
        transform: scale(1.1);

        cursor: pointer;
      }
    }
    &__menubar--icon,
    &__table--icon {
      &:hover {
        color: $primary-color;
        transform: scale(1.1);

        cursor: pointer;
      }
    }
  }
}
