$font-family: "Open Sans", sans-serif;
$primary-color: #ee4d2d;
$primary-color-dark: #b30d00;
$primary-color-light: #ff8059;
$optional-color: #fff;

$topbar-height: 55px;
$navbar-height: 50px;

.HeaderAccount {
  z-index: 1;

  margin-top: $topbar-height;

  height: $navbar-height;

  font-family: $font-family;
}
.navbar {
  height: $navbar-height;
  padding: 0px;

  background: $primary-color;

  &__options {
    display: flex;
    justify-content: center;

    &--option {
      flex-grow: 1;

      list-style: none;
      text-align: center;
    }
    &--link {
      line-height: 34px;

      transition: 0.3s;
    }
  }
}

.slide-enter-active {
  animation: slideInRight;
  animation-duration: 2s;
}
.slide-leave-active {
  animation: slideOutRight;
  animation-duration: 3s;
}

@media (min-width: 1024px) {
  .navbar__options--link:hover {
    background: $primary-color-dark;

    transform: scale(1.1);
  }
}

@media (max-width: 991px) {
  .navbar__options {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;

    display: block;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background: $primary-color-light;

    &--option:focus {
      background-color: $primary-color-dark;
    }
  }
}
