@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");

$font-family: "Open Sans", sans-serif;
$font-logo: "Bonheur Royale", cursive;
$primary-color: #ee4d2d;
$primary-color-dark: #b30d00;
$primary-color-light: #ff8059;
$optional-color: #fff;

$header-height: 60px;

.SidebarAdmin {
  padding: 0px;
  min-height: 100vh;
  height: 100%;

  background-color: $primary-color;

  font-family: $font-family;
}
.sidebar {
  padding-left: 24px;
  &__header {
    height: $header-height;
    line-height: $header-height;

    cursor: pointer;

    &--link-container {
      display: grid;
      grid-template-columns: 4fr 8fr;
    }
    &--icon {
      color: $primary-color-dark;

      font-size: 40px;
      line-height: $header-height;
    }

    &--logo {
      color: $optional-color;

      font-size: 48px;
      font-weight: bold;
      font-family: $font-logo;
    }
  }
  &__menu {
    &--list {
      display: grid;
      grid-template-columns: 2fr 8fr;

      padding: 16px;
      align-items: center;
    }
    &--link {
      color: $optional-color;

      font-size: 22px;
    }
    &--icon {
      height: 100%;

      color: $optional-color;

      font-size: 28px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    &__menu {
      &--list {
        &:hover {
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;

          background-color: $optional-color;

          cursor: pointer;
        }
      }
      &--list:hover &--link,
      &--list:hover &--icon {
        color: $primary-color-dark;

        font-weight: bolder;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .SidebarAdmin {
    display: none;
  }
}
