
.Listcategory {
    font-family: "Open Sans", sans-serif;
  }
  
  .category {
    position: relative;
  }
  .category h3 {
    padding: 14px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: bold;
  }
  
  .list-ul:hover {
    cursor: pointer;
    font-size: 1.4rem;
    margin-right: 3px;
  }
  .container {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .col-3 {
    margin: 10px 0;
    background: #fafafa;
    border-radius: 3px;
  }
  
  .category-list {
    padding-left: 0;
  }
  
  .category-item {
    outline: none;
  }
  
  .dropdown-menu {
    display: block;
  }
  
  .sub_category {
    padding-left: 30px;
    display: none;
    overflow: hidden;
  }
  .sub_category-item {
    margin-bottom: 10px;
  }
  
  .sub_category-item--link {
    color: #333;
    transition: right linear 0.1s;
    right: 0;
  }
  .sub_category-item--link:hover {
    cursor: pointer;
    right: -2px;
    color: #ed4d27;
  }
  
  .dropdown-toggle::after {
    position: relative;
    top: -8px;
  }
  
  .category-item_link {
    position: relative;
    transition: right linear 0.1s;
    right: 0;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
  }
  .category-item_link:hover {
    right: -2px;
    color: #ed4d27;
  }
  
  .sub_category-item--link {
    display: block;
    position: relative;
  }
  
  .sub_category-item--active .sub_category-item--link {
    color: #ed4d27;
    margin-bottom: 10px;
  }
  
  .sub_category-item--active .sub_category-item--link:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent #ed4d27;
  }
  
  
  // .active, .category-item_link {
  //   background-color: #ccc;
  // }
  
  // .category-item:hover .sub_category {
  //   display: block;
  //   transition-delay: 5s !important;
  // }
  // mobil and tablet
  @media (max-width: 1023px) {
    .hide-on-mobil-tablet {
      display: none;
    }
  
    .category-item_link {
      position: relative;
    }
    
  
    .sub_category-item--link {
      position: relative;
    }
  }
  // tablet
  @media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
      display: none;
    }
  
    .category-list {
      justify-content: space-between;
    }
  
    .container {
      overflow: hidden;
      max-width: 100%;
    }
  
    .category-item_link {
      position: relative;
    }
    .sub_category-item--link {
      position: relative;
    }
  }
  // mobile
  @media (max-width: 739px) {
    .hide-on-mobile {
      display: none;
    }
  }
  
  @media (max-width: 360px) {
    .category-list {
      padding: 0px;
    }
    
  }
  
  @media (max-width: 411px) {
    .category-list {
      padding: 1px;
    }
  }