@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lato&display=swap');
.login-page {
  background-image: url('../../assets/login/background.jpg');
  height: calc(100vh - 65px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.form-login {
  position: absolute;
  top: 17vh;
  left: 20vw;
}
.MainLogin {
  font-family: 'Open Sans', sans-serif;
  height: calc(100vh);
  overflow: hidden;
}

.login-form-detail {
  width: 450px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-form-detail .Heading {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 1.25;
}

.form-group {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  position: relative;
}
.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;

}

.inputLux {
  display: inline-block;
}

.form-control {
  height: 50px;
  padding: 15px 15px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
}
.form-control:hover {
  border-color: #ee4d2d;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-color: #ee4d2d;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  line-height: 1.25;
  transition: background-color 0.5s;
}
.form-submit:hover {
  background: #e57660;
}

.login__label {
  display: flex;
  padding: 20px 0;
}
.login__input {
  margin-right: 10px;
  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.checkmark {
  font-size: 1rem;
  font-style: normal;
}

.spacer {
  margin-top: 36px;
}

.togglePassword {
  position: absolute;
  top: auto;
  bottom: 20px;
  left: auto;
  right: 20px;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .form-login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 767px) {
  .login-form-detail {
    width: 350px;
    padding: 10px 20px;
  }
  .spacer {
    margin-top: 10px;
  }
  .login-form-detail .Heading {
    font-size: 35px;
  }
  .form-label {
    margin-bottom: 0rem!important;
    padding-bottom: 10px;
    font-size: 23px;
  }

}