@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");

$font-family: "Open Sans", sans-serif;
$font-logo: "Bonheur Royale", cursive;
$primary-color: #ee4d2d;
$primary-color-dark: #b30d00;
$primary-color-light: #ff8059;
$optional-color: #fff;
$header-height: 60px;

.HeaderAdmin {
  height: $header-height;

  background: $optional-color;

  font-family: $font-family;
}
.header {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;

  height: $header-height;
  &__text {
    padding: 20px;
    &--icon {
      font-size: 24px;
    }
    &--text {
      padding-left: 10px;

      font-size: 24px;
      font-weight: 550;
    }
  }
  &__search {
    position: relative;
    &--input {
      width: 100%;

      border-radius: 20px;

      &:focus {
        border-color: $primary-color;
        box-shadow: $primary-color;
        box-shadow: none;
        -webkit-box-shadow: $primary-color;
        -webkit-box-shadow: none;
      }
    }
    &--icon-container {
      position: absolute;
      top: 17px;
      right: 20px;

      width: 30px;
      height: 30px;

      border-radius: 50%;
      border: none;
      outline: none;

      background: $optional-color;
    }
  }
  &__icons {
    padding: 5px 10px;

    &--icon {
      font-size: 25px;

      transition: 0.2s;
    }
  }
}
@media (min-width: 1024px) {
  .header {
    &__search--icon:hover,
    &__icons--icon:hover {
      color: $primary-color;
      transform: scale(1.1);

      cursor: pointer;
    }
    &__search {
      &--input {
        display: block;
      }
      &--icon-container:hover {
        color: $optional-color;
        background-color: $primary-color-light;

        animation: pulse;
        animation-duration: 1s;

        overflow: hidden;
      }
    }
  }
}
@media (max-width: 991px) {
  .header {
    &__icons {
      &--container {
        padding: 8px 10px;

        cursor: pointer;
      }
      &--icon {
        animation: fadeInDown;
        animation-duration: 1s;
      }
    }
  }
}