@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}
.Header_Cart_Page {
  background-color: #fff;
  padding: 15px 0;
}
.header {
  &__logo {
    &--link {
      font-family: 'Bonheur Royale', cursive;
      color: #ee4d2d;
      font-size: 50px;
      font-weight: bold;
      padding-right: 20px;
    }

    &--img {
      width: 100px;
      height: 80px;
    }

    &--title {
      color: #ee4d2d;
      font-weight: 600;
      font-size: 26px;
      padding: 10px 20px;
      border-left: 2px solid #ee4d2d;
    }
  }
}

@media (max-width: 450px) and (max-width: 767px) {
  .header {
    display: block !important;
    &__logo {
      justify-content: space-around;
      padding-bottom: 10px;
      &--img {
        width: 80px;
        height: 60px;
      }
    }
  }
}

@media (max-width: 380px) {
  .header__logo--title {
    font-size: 24px;
  }
}
@media (max-width: 361px) {
  .header__logo--title {
    font-size: 23px;
  }
  .header__logo--link {
    font-size: 45px;
  }
}
